@font-face {
    font-family: Merriweather;
    src: url(assets/fonts/Merriweather/Merriweather-Bold.ttf);
}

@font-face {
    font-family: Inter;
    src: url(assets/fonts/Inter/Inter-VariableFont_slnt\,wght.ttf);
    font-weight: 400;
}

@font-face {
    font-family: Inter;
    src: url(assets/fonts/Inter/Inter-VariableFont_slnt\,wght.ttf);
    font-weight: 700;
}

body{
    font-family: Inter;
    background-color: rgb(148, 155, 151);
}

h1, h2 {
    font-family: Merriweather;
}

.container {
   width: 1440px; 
   margin: 0 auto;
   padding: 0 20px;
}