* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
   min-height: 100vh;
    margin: 0 auto;

}

body {
    display: flex;
    flex-direction: column;
    font-family: 'Shizuru', cursive;
    font-size: 20px;
    color: whitesmoke;
    background-color: rgb(73, 229, 240);
    margin-left: 20px;
    margin-right: 20px;
    overflow: hidden;
}

.container {
    width: 100%;
    margin: 0 auto;
   
}

.main_container {
    flex-grow: 1;
    margin-top: 15px;

   
}
.memory_game {
    width: 540px;
    height: 540px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    
}


.memory_card {
    width: calc(25% - 10px);
    height: calc(33.333% - 10px);
    margin: 5px;
    position: relative;
    transform: scale(1);
    transform-style: preserve-3d;
    transition: 0.5s;
    cursor: pointer;
}
.memory_card.flip{
    transform: rotateY(180deg);
}

.memory_card:active {
    transform: scale(0.95);
    transition: 0.4s;
}

.front-face,
.back-face {
    width: 100%;
    height: 100%;
    padding: 15px;
    position: absolute;
    border-radius: 5px;
    background: #1f5480;
    backface-visibility: hidden;
  }

.footer_container{
    width: 100%;
    flex-grow: 0;
    display:flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;   
    
}
.footer_data {
    display: flex;
    flex-direction: row;
    color: var(--color-white);
    font-size: 21px;
    gap: 15px;
    
}

.github {
    text-decoration: none;
    
    
}

.github:hover {
    color: rgb(211, 62, 16);
    transition: 0.8s;
}

.rss-logo {
    width: 120px;
    height: 80px;
    background-image: url('./assets/svg/rss.svg');
    background-size: contain;
    background-repeat: no-repeat;
    margin-top: 20px;

    
}

.rss-logo:hover {
    filter: invert(25%) sepia(93%) saturate(1904%) hue-rotate(343deg) brightness(101%) contrast(92%);
    transition: 0.3s;

}