:root {
    --color-yellow: #f5bf1f;
    --color-black: #000;
    --color-white: #fff;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    scroll-behavior: smooth;
    min-height: 100vh;
    margin: 0 auto;

}

   body {
    display: flex;
    flex-direction: column;
    background-color: var(--color-black);
    font-family: 'Lato',sans-serif;
    color: var(--color-white);
    margin-left: 50px;
    margin-right: 50px;
     
     
 }
 .container {
    max-width: 1440px;
    margin: 0 auto;
}
 .header_container {
     width: 100%;
     display: flex;
     flex-direction: row;
     justify-content: space-between;
     align-items: center;
     margin-top: 20px;
     padding-bottom: 20px;
     border-bottom: 3px solid var(--color-yellow);

}

.header_name {
    display: flex;
    align-items: center;
    gap: 30px;
}

.header_logo {
    height: 40px;
    width: 40px;
    filter:  saturate(2);
}
.header_link {
    text-decoration: none;
    color: var(--color-white);
}
.header_title {
    font-size: 30px;
    
}

.search_box {
    position: absolute;
    left:70%;
    background-color: var(--color-white);
    height: 40px;
    border-radius: 40px;
    padding: 0px;

}

.search_box:hover {
    border: 1px solid var(--color-yellow);
    box-shadow: 1px 1px 2px 2px var(--color-yellow);
    transition: 0.3s;
}

.search_btn {
    color: var(--color-yellow);
    float: right;
    width: 40px;
    height: 39px;
    border-radius: 50%;
    background-color: var(--color-white);
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.search-txt {
    border: none;
    background: none;
    outline: none;
    float: left;
    color: var(--color-black);
    font-size: 16px;
    line-height: 40px;
    width: 300px;
    padding-left: 10px;
}

.main {
    flex-grow: 1;
    margin-top: 15px;
    margin-bottom: 15px;
}


.img_wrapper {
    
    
   
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  position: relative;
}

.card {
    position: relative;
    width: 380px;
    height: 214px;px;
    overflow: hidden;
    margin: 10px;
}
.photo {
    position:absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    
}
/*.audio_container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 150px);
}
.audio_image {
    width: 100%;
}*/






.footer_container{
    width: 100%;
    flex-grow: 0;
    display:flex;
    justify-content: space-between;
    align-items: center;
    border-top: 2px solid var(--color-yellow); 
    margin: 0 auto;   
    
}
.footer_data {
    display: flex;
    flex-direction: row;
    color: var(--color-white);
    font-size: 21px;
    gap: 15px;
    
}

.github {
    text-decoration: none;
    color: var(--color-white);
    
}

.github:hover {
    color: var(--color-yellow);
    transition: 0.8s;
}

.rss-logo {
    width: 120px;
    height: 80px;
    background-image: url('./assets/svg/rss.svg');
    background-size: contain;
    background-repeat: no-repeat;
    margin-top: 20px;

    
}

.rss-logo:hover {
    filter: sepia(90) saturate(15) contrast(100);
    transition: 0.3s;

}