:root {
    --color-gold: #bdae82;
    --color-black: #000;
    --color-white: #fff;
    --font1: 60px;
    --font2: 40px;
  
}

@font-face {
    font-family: Merriweather;
    src: url(assets/fonts/Merriweather/Merriweather-Bold.ttf);
}

@font-face {
    font-family: Inter;
    src: url(assets/fonts/Inter/Inter-VariableFont_slnt\,wght.ttf);
    font-weight: 400;
}

@font-face {
    font-family: Inter;
    src: url(assets/fonts/Inter/Inter-VariableFont_slnt\,wght.ttf);
    font-weight: 700;
}

* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

/*header-styles start*/

 header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header {
    background: url("/portfolio/assets/img/bg.jpg");
    background-repeat: n0-repeat;
    background-position: center 0;
    margin: 0 auto;
    padding: 0 15px;
    width: 100%;
}

.header-logo {
    margin: 0 auto:
    
}

.header-menu {
    margin: 0 auto;
    
}

.nav_list { 
    display: flex;
    align-items: center;
    flex-wrap: wrap;
   
    
}

.nav-item {
   list-style-type: none;
}

.nav-link {
    padding: 0 20px;
    line-height: 50px;
    text-decoration: none;
    color: #fff;
    font-family: inherit;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    


}

/*.lang-button {
    font-family: inherit;
    cursor: pointer;
    left: 93.75%;
    right: 1.39%;
    top: 20px;
    border: 0px;
    padding: 0px;
    background-color: transparent;
    outline: none;
    
}

.en-button {
    color:var(--color-gold);
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 50px;
    letter-spacing: 0em;
    text-align: center;

}

.ru-button {
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 50px;
    letter-spacing: 0em;
    text-align: center;
    color:#fff;

}
.gold-button {
    height: 55px;
    width: 220px;
    left: 0px;
    top: 275px;
    border-radius: 0px;
    background: #BDAE82;
    border: 0px;
    padding: 0px;
    outline: none;
}
.button-title {
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 0em;
    text-align: center;
    color: #000;

}
.slash {
    color: #fff;
}*/

.header_burger {
    display: none;
    width: 50px;
    height: 28px;
    position: relative;
    padding: 15px;
    
}

.burger_line {
    display:block;
    width: 100%;
    height: 3px;
    background-color: white;
    position: absolute;
    left: 0;

    
}

.burger_line_first {
    top:0;
}

.burger_line_second {
    top: 50%;
    transform: translateY(-50%);
}

.burger_line_third {
    bottom: 0;
}
/*header styles end*/

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height:  100%;
    font-family: Inter;
    font-size: 16px;
    line-height: 1.2;
    margin: 0px;
    padding: 0px;
    background-color: black;
   
}

main {
    display: flex;
}

.container {
    max-width: 1440px; 
    margin: 0 auto;
    padding: 0 20px;
 }

/*hero-styles*/
.hero-container {
     background-image: url("/portfolio/assets/img/bg.jpg");
     background-position: center -90px;
     background-repeat: no-repeat;
     padding-bottom: 330px;
       
 }

.hero-section {
     align: left;
     padding-top: 150px;
     padding-left: 80px;
 }
.hero-title {
    height: 120px;
    left: 0%;
    right: 0%;
    top: 0%;
    color: white;
    align: center;
    font-family: Merriweather;
    font-style: normal;
    font-weight: bold;
    font-size: 60px;
    line-height: 120px;
 }

.hero-text {
    
    right: 6%;
    top: 130px;
    
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 40px;
    color: #fff;
}
 

.section-title {
    font-family: Merriweather;
    color: #BDAE82;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 80px;
    letter-spacing: 0em;
    text-align: center;
    padding-bottom: 20px;
    padding-top: 0px;
    text-align: center;

}


/*skills-styles*/

.skill-items {
    display: flex;
    justify-content: space-between;
    flex-wrap: no-wrap;
}

.skill-item {
    background-position: center top;
    padding-top: 50px;
    
    
}

.skill-item:nth-child(1) {
    background-image: url('./assets/svg/camera.svg');
    background-size: 62px 50px;
    background-repeat: no-repeat;
  }

.skill-item:nth-child(2) {
    background-image: url('./assets/svg/video.svg');
    background-size: 62px 50px;
    background-repeat: no-repeat;
}

.skill-item:nth-child(3) {
    background-image: url('./assets/svg/image.svg');
    background-size: 62px 50px;
    background-repeat: no-repeat;
    
}

.skill-item:nth-child(4) {
    background-image: url('./assets/svg/mic.svg');
    background-size: 62px 50px;
    background-repeat: no-repeat;
}

.skill-title {
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 0em;
    text-align: center;
    color: #fff;

}

.skill-text {
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 36px;
    letter-spacing: 0em;
    text-align: center;
    color: #fff;

}
/*portfolio-styles*/
.portfolio-button {
    display: flex;
    justify-content: center;
    gap: 5px;
    padding-bottom: 50px;

}

.black-button {
    height: 55px;
    width: 220px;
    font-family: inherit;
    cursor: pointer;
    height: 55px;
    left: 0%;
    right: 0%;
    top: 0px;
    border: 2px solid #BDAE82;
    box-sizing: border-box;
    border-radius: 0px;
    background-color: transparent;
    outline: none;
}

.portfolio-title {
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 0em;
    text-align: center;
    color: #BDAE82;
    

}

.gold-title {
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 0em;
    text-align: center;

}

.portfolio-gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
}

.portfolio-image {
    height: 560px;
    width: 450px;
    left: 950px;
    top: 585px;
    border-radius: 0px;

}

/*video-styles*/

.video-player {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.player-foto {
    height: 705px;
    width: 1400px;
    left: 20px;
    top: 240px;
    border-radius: 0px;

}

.video-button {
    position: absolute;
    border-radius: 0px;
    background-color: transparent;
    outline: none;
    cursor: pointer;
    border: none;
    
    

}

/*price-styles*/

.price {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 100px;
    
}

.standard-price, .premium-price, .gold-price {
    display:flex;
    align-items: center;
    flex-direction: column;
    height: 600px;
    width: 450px;
    left: 0px;
    top: 0px;
    border: 3px solid #BDAE82;
    box-sizing: border-box;
    border-radius: 0px;
    gap: 20px;
    
    
}

.price-title {
    width: 128px;
    height: px;
    left: calc(50% - 128px/2);
    top: 4px;
    font-family: Merriweather;
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 0.5px;
    text-align: center;
    color: #FFFFFF;
}

.price-to-price {
    width: 81px;
    height: 48px;
    left: calc(50% - 81px/2 - 0.5px);
    top: 119px;
    font-family: Merriweather;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 0.5px;
    text-align: center;
    color: #BDAE82;

}



.price-text {
    display: block;
    width: 203px;
    height: 36px;
    left: calc(50% - 203px/2 - 0.14px);
    top: 0px;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height:px;
    text-align: center;
    color: #FFFFFF;
    
}

/*contacts-styles*/

.contacts-container {
    
    background-image: url("./assets/img/contacts.png");
    background-position: center center;
    width: 100%;
    height: auto;
    padding-bottom: 195px;
    
}

.contacts-data {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex-direction: column;
    padding-right: 100px;
    gap: 15px;
    
}

 ::placeholder {
     font-family: inherit;
     color: #bdae82;
     font-size: 20px;
     background-color: transparent;

 }

.mail {
    height: 50px;
    width: 450px;
    left: 970px;
    top: 180px;
    border-radius: 0px;
    background: #00000080;
    fill: rgba(0, 0, 0, 0.5);
    border: solid 2px #BDAE82;

}

.contacts-text {
    background: #00000080;
    background-size: auto 700px;
    position: center center;
    fill: rgba(0, 0, 0, 0.5);
    border: solid 2px #BDAE82;
}

textarea {
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 0em;
    text-align: left;
    background: #00000080;
    fill: rgba(0, 0, 0, 0.5);
    border: solid 2px #BDAE82;
    resize: none;

}



.button-contacts {
    text-align: end;
    padding-right: 330px;
    padding-top: 30px;
    cursor: pointer;
}

/*footer-styles*/

.footer-wrapper{
   display: flex;
   flex-wrap: wrap;
   align-items: center;
   justify-content: space-between;
   padding-top: 50px;
   padding-bottom: 50px;

}

.footer-title {
    
}

.footer-data {
    color:  #FFFFFF;
    
    

}
.year {
    font-family: inherit;
    size: 20px; 
    line-height: 50px;
    padding-left: 20px;
       
}

.github-container {
    padding-left: 20px;
    
}

.github-link {
    font-family: inherit;
    text-decoration: none;
    color:  #FFFFFF;
}
.course-link {
    color:  #FFFFFF;
    text-decoration: none; 
    size: 20px; 
    line-height: 50px;
}



.social-items {
    display: flex;
   flex-wrap: wrap;
   align-items: center;
   justify-content: space-between;
   gap: 30px;
}

/*Media start*/

@media screen and (max-width: 768px) {
    .header_burger {
        display: block;

    }

    .header_nav {
        width: 100%;
        height: 100%;
        position: fixed;
        top: 0;
        left: 0;
        background: #000;
        z-index: 10;
        padding: 75px;
        transform: translateX(100%);
        transition: .2s all linear;
    }

    .header_nav_active {
        transform: translateX(0);
    }
    .nav-item {
        width: 100%;
        margin-right: 0;
        margin-bottom: 16px;
    }

    .nav-item:last-child {
        margin-bottom: 0;
    }

    .nav-link {
        font-size: 35px;
        line-height: 73px;
        font-weight: 400;
    }

    .header_nav_close {
        width: 50px;
        height: 50px;
        position: absolute;
        top: 20px;
        left: 654px;
    }

    .header_nav_close_line {
        display: block;
        width: 100%;
        height: 3px;
        background-color: #fff;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);

    }

    .header_nav_close_line:first-child {
        transform: translateY(-50%) rotate(45deg);
    }

    .header_nav_close_line:last-child {
        transform: translateY(-50%) rotate(-45deg);
    }
}

/*Media end*/